<template>
  <div id="game">
    <transition name="fade">
      <div v-if="showTip" id="tip">
        <div @click="showingTip" class="overlay"></div>
        <div class="tip-container">
          <div class="tip">
            <h3>Dica</h3>
            <hr>
            <p>{{ tip }}</p>
          </div>
        </div>
      </div>
    </transition>

    <div class="game">
      <transition name="fade">
        <div v-if="messageInfo" class="info">
          <p>{{ messageInfo }}</p>
        </div>
      </transition>
      <transition name="fade">
        <div v-if="success" class="success">
          <p>Parabéns!</p>
        </div>
      </transition>
      <transition name="fade">
        <div class="score">
          <p>Pontuação: {{ score }}</p>
        </div>
      </transition>
      <div v-if="failure" class="failure">
        <p>Tente novamente!</p>
      </div>
      <div class="hangman-container">
        <canvas height="200" width="78" id="hangman" class="hangman"></canvas>
      </div>
      <div class="word" >
        <div :key="index" v-for="(letter, index) in wordObj">
          <span v-if="!letter.correctLetter"> _ </span>
          <span v-if="letter.correctLetter">{{ letter.letter }}</span>
        </div>
      </div>

      <transition name="fade">
        <div v-if="errorCount === 6 || playAgain">
          <div class="play-again-container">
            <button @click="resetGame" class="play-again">Jogar Novamente</button>
          </div>
        </div>
      </transition>
      <div class="show-keyboard">
        <keyboard
          v-model="keyboard"
          :layouts="[
          'abcdefgh|ijklmnop|qrstuvwx|yz{space:space}'
        ]"></keyboard>
      </div>

      <div class="timer">
        <p>{{ timer }}</p>
      </div>

      <button class="button-tip" @click="showingTip"><i class="fa fa-lightbulb fa-3x"></i></button>
    </div>
  </div>
</template>

<script>
import requests from '@/services/requests'
import Keyboard from 'vue-keyboard'

export default {
  name: 'hangman',
  components: {
    Keyboard
  },
  data () {
    return {
      hangmanImg: require('../../assets/man.png'),
      sx: 0,
      word: '',
      wordObj: {},
      messageInfo: '',
      errorCount: 0,
      playAgain: false,
      score: 0,
      success: false,
      failure: false,
      tip: '',
      showTip: false,
      timer: 0,
      totalTime: 0,
      keyboard: '',
      isMobile: window.innerWidth < 511
    }
  },
  watch: {
    keyboard: function (val) {
      this.evaluateKeypress(val.split('').pop())
      this.checkEndGame()
    }
  },
  beforeDestroy () {
    this.submitScore()
  },
  mounted () {
    this.prepareHangman()
    this.getRandomWord()
    this.prepareKeyboard()
    this.checkResolution()
    this.setTimer()
    console.log(window.innerWidth < 511)
  },
  methods: {
    setTimer () {
      this.set = setInterval(() => {
        this.timer += 1
      }, 1000)
    },
    checkResolution () {
      if (window.innerHeight < 768) {
        const canvas = document.getElementById('hangman')
        canvas.height = 300
      }
    },
    showingTip () {
      this.showTip = !this.showTip
    },
    resetGame () {
      this.totalTime += this.timer
      this.errorCount = 0
      this.sx = 0
      this.word = ''
      this.wordObj = {}
      this.prepareHangman()
      this.getRandomWord()
      this.success = false
      this.failure = false
      this.playAgain = false
      this.messageInfo = ''
      this.tip = ''
      this.timer = 0
      this.setTimer()
    },
    prepareKeyboard () {
      document.onkeypress = () => {
        this.evaluateKeypress()
        this.checkEndGame()
      }
    },
    evaluateKeypress (letter) {
      if (this.errorCount === 6 || !Object.keys(this.wordObj).some(i => this.wordObj[i].correctLetter === false)) return
      const pressedKey = event.key || letter

      for (let item in this.wordObj) {
        if (this.wordObj[item].correctLetter === true && this.wordObj[item].letter === pressedKey) {
          this.messageInfo = `A letra ${pressedKey} já foi inserida`
          return
        }

        if (pressedKey === this.wordObj[item].letter) {
          this.wordObj[item].correctLetter = true
          this.score += 1

          this.$forceUpdate()
        }
      }

      if (Object.keys(this.wordObj).findIndex(i => this.wordObj[i].letter === pressedKey) === -1) {
        if (this.errorCount < 6) {
          this.errorCount += 1
          this.hangmanUpdate()
        }

        if (this.errorCount === 6) {
          this.failure = true
          this.totalTime += this.timer
          this.timer = 0

          clearInterval(this.set)
        }
      }
    },
    checkEndGame () {
      if (!Object.keys(this.wordObj).some(i => this.wordObj[i].correctLetter === false)) {
        this.success = true
        this.playAgain = true
        this.totalTime += this.timer
        this.timer = 0

        clearInterval(this.set)
      }
    },
    submitScore () {
      const ranking = {
        username: this.$store.state.currentUserName,
        score: this.score,
        totalTime: this.totalTime
      }
      requests.postRanking(ranking)
    },
    prepareHangman () {
      const hangmanImage = new Image()
      const canvas = document.getElementById('hangman')
      hangmanImage.src = this.hangmanImg
      hangmanImage.onload = () => {
        var hangman = this.sprite({
          context: canvas.getContext('2d'),
          width: 78,
          height: 300,
          image: hangmanImage
        })
        hangman.render()
      }
    },
    getRandomWord () {
      requests.getRandomWord(this.$store.state.difficultySelected).then(wordObject => {
        if (!wordObject.data[0]) this.getRandomWord(this.$store.state.difficultySelected)
        else this.word = wordObject.data[0].word.split('')
        for (let letter in this.word) {
          this.wordObj[letter] = {letter: this.word[letter], correctLetter: false}
          this.tip = wordObject.data[0].tip
        }
        this.$forceUpdate()
      })
    },
    hangmanUpdate () {
      const hangmanImage = new Image()
      const canvas = document.getElementById('hangman')
      hangmanImage.src = this.hangmanImg
      hangmanImage.onload = () => {
        var hangman = this.sprite({
          context: canvas.getContext('2d'),
          width: 75,
          height: 300,
          image: hangmanImage
        })
        hangman.update()
      }
    },
    sprite (options) {
      const that = {
        context: options.context,
        width: options.width,
        height: options.height,
        image: options.image
      }
      that.render = () => {
        that.context.clearRect(0, 0, that.width, that.height)
        that.context.drawImage(that.image, 0, 0, that.width, that.height, 0, 0, that.width, that.height)
      }
      that.update = () => {
        this.sx += 75
        if (this.sx > 450) {
          this.sx = 0
        }
        that.context.clearRect(0, 0, that.width, that.height)
        that.context.drawImage(that.image, this.sx, 0, that.width, that.height, 0, 0, that.width, that.height)
      }
      return that
    }
  }
}
</script>

<style lang="stylus" scoped>
.game
  display flex
  align-items center
  justify-content center
  flex-direction column
  height 100vh
.hangman
  height 25em
.word
  font-family 'Montserrat', sans-serif
  display flex
  flex-wrap wrap
  justify-content center
  text-align center
  font-size 2.5em
  color #3A539B
.word span
  margin 30px 15px 30px 15px
.info
  background-color #E4F1FE
  width 40vw
  padding 15px 10px
  border-radius 5px
  text-align center
  position absolute
  top 10vh
  p
    color #446CB3
    font-family 'Work Sans', sans-serif
    font-size 1.2em
.play-again-container
  display flex
  z-index 5
.play-again
  background-color #C0392B
  color #fff
  text-transform uppercase
  border none
  border-radius 5px
  font-family 'Montserrat', sans-serif
  margin-top 30px
  padding 15px 35px
  font-size 1.5em
  outline none
  cursor pointer
  position relative
  width 500px
.score
  font-size 1.5em
  padding-bottom 30px
  font-family 'Montserrat', sans-serif
.success
  background-color #A2DED0
  width 40vw
  padding 15px 10px
  border-radius 5px
  text-align center
  margin-bottom 30px
  position absolute
  top 10vh
  z-index 9
  p
    color #1E824C
    font-family 'Work Sans', sans-serif
    font-size 1.2em
.failure
  background-color #F1A9A0
  width 40vw
  padding 15px 10px
  border-radius 5px
  text-align center
  margin-bottom 30px
  position absolute
  top 10vh
  z-index 9
  p
    color #96281B
    font-family 'Work Sans', sans-serif
    font-size 1.2em
.fade-enter-active, .fade-leave-active
  z-index 9999
  transition opacity .5s
.fade-enter, .fade-leave-to /* .fade-leave-active em versões anteriores a 2.1.8 */
  opacity: 0
.bounce-enter-active
  animation bounce-in .5s
.bounce-leave-active
  animation bounce-in .5s reverse
p
  color #3A539B
.button-tip
  background-color #3A539B
  border none
  border-radius 50px
  position absolute
  right 40px
  bottom 40px
  height 70px
  width 70px
  cursor pointer
  outline none
  transition .5s all
  i
    color white
    transition .5s all
.button-tip:hover
  background-color #34495E
  i
    color #F4D03F
.overlay
  background-color #000
  opacity .5
  width 100vw
  height 100vh
#tip
  display flex
  justify-content center
  align-items center
  position absolute
  z-index 8
.tip-container
  width 50vw
  height 50vh
  background-color #fff
  display flex
  position absolute
  justify-content center
  padding 30px
  .tip
    width 100%
    flex-direction column
    justify-content center
    align-items center
    display flex
    text-align center
    hr
      width 100%
    h3
      font-family 'Montserrat', sans-serif
      text-transform uppercase
      font-size 1.2em
    p
      align-self center
      margin auto
      font-size 1.5em
      font-family 'Work Sans', sans-serif
.timer
  border 2px solid #34495E
  border-radius 50px
  height 50px
  width 50px
  display flex
  justify-content center
  align-items center
  position absolute
  right 30px
  top 30px

@keyframes bounce-in
  0%
    transform scale(0)
  100%
    transform scale(1)
.show-keyboard
  display none
@media screen and (max-width: 512px)
  .game
    .play-again-container
      width 100vw
      display flex
      justify-content center
      left 0
    .play-again
      left 0
      width 90%
    .info, .success, .failure
      width 90%
    .button-tip
      top 20px
      right 20px
    .hangman-container
      height 40vh
    .score
      position absolute
      top 35px
    .play-again-container
      position absolute
      bottom 30px
      z-index 5
    .hangman-container
      z-index -1
    .show-keyboard
      margin-top 30px
      font-family 'Work Sans', sans-serif
      display block
      z-index 0
</style>
