<template>
  <div class="input-name">
    <div class="name">
      <input type="text" placeholder="Seu nome" @keyup.enter="namePlayer">
    </div>
  </div>
</template>

<script>
export default {
  name: 'input-name',
  methods: {
    namePlayer () {
      // If there is no value, return
      if (!event.target.value) return

      const playerName = event.target.value
      this.$store.commit('THERE_IS_USER', playerName)
    }
  }
}
</script>

<style lang="stylus" scoped>

@media screen and (max-width: 768px)
  .name input
    width 80vw !important

.input-name
  display flex
  justify-content center
  align-items center
  height 100vh
  .name input
    width 40vw
    border none
    border-bottom 1px solid #ececec
    font-size 30px
    font-family 'Montserrat', sans-serif
    text-align center
    outline none
</style>
