<template>
  <div class="main">
    <loading-screen />
    <div v-if="!isLoading"  >
      <input-name v-if="!thereIsUser"/>
      <select-difficulty v-if="thereIsUser && !difficultySelected"  />
      <left-nav v-if="timeToPlay" />
      <hangman v-if="timeToPlay && $route.path === '/'"/>
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
import InputName from '@/components/main/InputName'
import SelectDifficulty from '@/components/main/SelectDifficulty'
import Hangman from '@/components/main/Hangman'
import LoadingScreen from '@/components/Loading'
import LeftNav from '@/components/left-nav/LeftNav'
import { mapGetters } from 'vuex'

export default {
  name: 'main-panel',
  components: {
    InputName,
    SelectDifficulty,
    Hangman,
    LoadingScreen,
    LeftNav
  },
  computed: {
    ...mapGetters({
      isLoading: 'getIsLoading',
      thereIsUser: 'getThereIsUser',
      difficultySelected: 'getIsDifficultySelected',
      timeToPlay: 'getIsTimeToPlay'
    })
  }
}
</script>

<style lang="stylus" scoped>

</style>
