<template>
  <div class="difficulty">
    <p>Olá, <span>{{ this.$store.state.currentUserName }}!</span> Qual a dificuldade que você deseja?</p>
    <form class="select">
      <label>
        <input id="easy" name="difficulty" type="radio" value="easy" @click="selectDifficulty" checked>
        Fácil
      </label>
      <label>
        <input id="hard" name="difficulty" type="radio" value="hard" @click="selectDifficulty">
        Difícil
      </label>
  </form>
  </div>
</template>

<script>
export default {
  name: 'select-difficulty',
  methods: {
    selectDifficulty () {
      // If for some reason the value is not passed, then return
      if (!event.target.value) return

      const difficulty = event.target.value

      event.target.parentElement.classList.remove('flicker')

      void event.target.parentElement.offsetWidth

      event.target.parentElement.classList.add('flicker')

      this.$store.commit('DIFFICULTY_SELECTED', difficulty)
    }
  }
}
</script>

<style lang="stylus" scoped>

@media screen and (max-width: 768px)
  .difficulty p
    width 80vw
    text-align center
  .difficulty form
    flex-direction column
  label
    text-align center
.difficulty
  display flex
  justify-content center
  align-items center
  height 100vh
  flex-direction column
.difficulty p
  margin-bottom 30px
  font-size 1.5em
  font-family 'Montserrat', sans-serif
  color #3A539B
.difficulty form
  display flex
  justify-content center
  align-items center
  font-family 'Montserrat', sans-serif
  font-size 2.25em
.select input[type="radio"]
  display none
.select input[type="radio"]:checked + label
  border 1px solid black
.select label
  padding 10px 100px
  margin 5px
  min-width 100px
  cursor pointer
  transition all .5s ease-in-out
  outline none
  border 1px solid #3A539B
  color #3A539B
  &:hover
    background-color #3A539B
    color #fff
    border 1px solid #3A539B
  &:focus
  &:active
    border 1px solid black
.select .flicker
    animation flickerAnimation .5s

@keyframes flickerAnimation
  0%
    opacity 1
    background-color black
    color white
  15%
    opacity 0
  30%
    opacity 1
    background-color black
    color white
  50%
    opacity 0
  70%
    opacity 1
    background-color black
    color white
</style>
