<template>
  <div v-show="isLoading" class="loading">
    <canvas id="loading" height="300" width="300"></canvas>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'loading',
  data () {
    return {
      loadingImage: require('../assets/loading.png'),
      topSpinner: new Image(),
      spinner: {}
    }
  },
  computed: {
    ...mapGetters({
      isLoading: 'getIsLoading'
    })
  },
  mounted () {
    const canvas = document.getElementById('loading')

    this.spinner = this.sprite({
      context: canvas.getContext('2d'),
      width: 3432,
      height: 274,
      image: this.topSpinner,
      numberOfFrames: 10,
      ticksPerFrame: 4
    })

    this.topSpinner.onload = () => {
      this.loop(this.spinner)
    }
    this.topSpinner.src = this.loadingImage
  },
  methods: {
    sprite (options) {
      var that = {}
      var frameIndex = 0
      var tickCount = 0
      var ticksPerFrame = options.ticksPerFrame || 0
      var numberOfFrames = options.numberOfFrames || 1

      that.context = options.context
      that.width = options.width
      that.height = options.height
      that.image = options.image

      that.render = () => {
        that.context.clearRect(0, 0, that.width, that.height)
        const sx = frameIndex * that.width / numberOfFrames
        const newWidth = that.width / numberOfFrames
        that.context.drawImage(that.image, sx, 0, newWidth, that.height, 0, 0, newWidth, that.height)
      }

      that.update = () => {
        tickCount += 1

        if (tickCount > ticksPerFrame) {
          tickCount = 0
          // If the current frame index is in range
          if (frameIndex < numberOfFrames - 1) {
            // Go to the next frame
            frameIndex += 1
          } else {
            frameIndex = 0
          }
        }
      }

      return that
    },
    loop () {
      this.spinner.update()
      this.spinner.render()
      this.$forceUpdate()
      requestAnimationFrame(this.loop)
    }
  }
}
</script>

<style lang="stylus" scoped>
.loading
  display flex
  justify-content center
  align-items center
  height 100vh
</style>
