<template>
  <div class="ranking">
    <table>
      <tr>
        <th>Nome</th>
        <th>Pontuação</th>
        <th>Data</th>
        <th>Total Time</th>
      </tr>
      <tr :key="index" v-for="(item, index) in rankingList">
        <td>{{ item.username }}</td>
        <td>{{ item.score }}</td>
        <td>{{ item.date }}</td>
        <td>{{ item.totalTime }}</td>
      </tr>
    </table>
  </div>
</template>

<script>
import requests from '@/services/requests'
import dateformat from 'dateformat'
import _ from 'lodash'

export default {
  name: 'ranking',
  data () {
    return {
      ranking: {}
    }
  },
  mounted () {

  },
  computed: {
    rankingList () {
      requests.getRanking().then(result => {
        this.ranking = result.data
        Object.keys(this.ranking).some(i => {
          this.ranking[i].date = dateformat(Date.parse(this.ranking[i].date), 'dd/mm/yyyy')
        })
      })
      return _.orderBy(this.ranking, ['score'], ['desc'])
    }
  }
}
</script>

<style lang="stylus" scoped>
.ranking
  display flex
  justify-content center
  align-items flex-start
  height 100vh
  table
    margin-top 100px
    width 50vw
    th
      font-size 1em
      font-family 'Montserrat', sans-serif
      border-bottom 1px solid #ececec
      padding-bottom 10px
    td
      font-size 1em
      font-family 'Work Sans', 'sans-serif'
      text-align center
      padding-top 10px
      padding-bottom 10px
</style>
