<template>
  <div class="left-nav">
    <button id="toggleButton" @click="toggleButton" class="toggle-button">
      <span></span>
    </button>
    <div id="menu" class="menu">
      <router-link to="/" tag="p">Jogar</router-link>
      <router-link to="/register-word" tag="p">Cadastrar Palavras</router-link>
      <router-link to="/change-difficulty" tag="p">Mudar Dificuldade</router-link>
      <router-link to="/ranking" tag="p">Ranking</router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: 'left-nav',
  methods: {
    toggleButton () {
      const button = document.getElementById('toggleButton')
      const menu = document.getElementById('menu')
      button.classList.toggle('on')
      menu.classList.toggle('on')
    }
  }
}
</script>

<style lang="stylus" scoped>
.toggle-button
  display block
  position absolute
  background none
  outline none
  border none
  width 40px
  height 30px
  margin 30px
  cursor pointer
  z-index 11
.toggle-button span:after
.toggle-button span:before
  content ""
  position absolute
  left 0
  top -9px
.toggle-button span:after
  top 9px
.toggle-button span
  position relative
  display block
.toggle-button span
.toggle-button span:after
.toggle-button span:before
  width 100%
  height 5px
  background-color #888
  transition all 0.3s
  backface-visibility hidden
  border-radius 2px
/* on activation */
.toggle-button.on span
  background-color transparent
.toggle-button.on span:before
  transform rotate(45deg) translate(5px, 5px)
  background-color #fff
.toggle-button.on span:after
  transform rotate(-45deg) translate(7px, -8px)
  background-color #fff
.toggle-button.on
  opacity 1
  visibility visible
.menu
  background-color #3A539B
  position absolute
  padding-left 35px
  width 300px
  height 100vh
  margin-left -335px
  transition all 0.3s
  color #fff
  z-index 10
.menu p
  font-family 'Montserrat', sans-serif
  padding-top 15px
  cursor pointer
.menu p:first-child
  padding-top 90px
.menu.on
  margin-left 0px !important
  position fixed
</style>
