<template>
  <div v-if="this.$store.state.currentUserName && this.$store.state.difficultySelected" class="register-word">
    <input id="register-word" type="text" placeholder="Digite aqui uma plavra">
    <textarea id="tip" placeholder="Insira uma dica aqui"></textarea>
    <button @click="registerWord" class="register-button">Cadastrar Palavra</button>
    <hr />
    <table>
      <thead>
        <tr>
          <th>Palavra</th>
          <th>Dica</th>
          <th>Dificuldade</th>
          <th>Data de Cadastro</th>
          <th>Remover Palavra</th>
        </tr>
      </thead>
      <tbody>
        <tr :key="index" v-for="(wordObject, index) in wordObjects">
          <td>{{ wordObject.word }}</td>
          <td>{{ wordObject.tip }}</td>
          <td>{{ wordObject.difficulty }}</td>
          <td>{{ wordObject.date }}</td>
          <td><button class="remove" @click="removeWord(wordObject)"><i class="fa fa-times"></i></button></td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import request from '@/services/requests'

export default {
  name: 'register-word',
  data () {
    return {
      wordObjects: []
    }
  },
  mounted () {
    request.getWords().then(words => {
      this.wordObjects = words.data
    })
  },
  methods: {
    registerWord () {
      const registerInput = document.getElementById('register-word')
      const tip = document.getElementById('tip')
      const date = new Date()
      const wordObject = {}

      if (registerInput.value === '' || tip.value === '') return

      wordObject.word = registerInput.value
      wordObject.tip = tip.value
      wordObject.date = date.toLocaleDateString()
      wordObject.difficulty = this.checkDifficulty(registerInput.value)

      this.wordObjects.push(wordObject)
      this.$forceUpdate()

      request.postWords(wordObject).then(result => {
        wordObject._id = result.data._id
      })
    },
    removeWord (wordObject) {
      request.deleteWord(wordObject._id).then(deletedWord => {
        this.wordObjects.splice(this.wordObjects.findIndex(i => i._id === wordObject._id), 1)
      })
    },
    checkDifficulty (word) {
      if (word.length < 6) {
        return 'Fácil'
      } else {
        return 'Difícil'
      }
    }
  }
}
</script>

<style lang="stylus" scoped>
.register-word
  display flex
  justify-content center
  align-items center
  flex-direction column
  min-height 100vh
  input
    width 70vw
    border none
    border-bottom 1px solid #ececec
    text-align center
    font-size 1.5em
    margin-bottom 30px
    outline none
  textarea
    border 1px solid #ececec
    outline none
    resize none
    width 70vw !important
    height 200px
  .register-button
    width 300px
    margin-top 30px
    background-color #C0392B
    font-family 'Montserrat', sans-serif
    border-radius 5px
    color #fff
    border none
    padding-top 15px
    padding-bottom 15px
    text-transform uppercase
    outline none
    cursor pointer
  hr
    margin-top 30px
    border 1px solid #ececec
    width 70vw
  table
    width 70vw
    margin-top 15px
    border-bottom 1px solid #ececec
    th
      text-transform uppercase
      font-family 'Montserrat', sans-serif
    th, td
      padding-bottom 15px
      padding-top 15px
      border-bottom 1px solid #ececec
    td
      text-align center
      font-family 'Work Sans', sans-serif
    td::before
      content none
.remove
  border none
  outline none
  background-color #ececec
  border-radius 50px
  width 25px
  height 25px

@media screen and (max-width: 768px)
  #register-word
    margin-top 100px
    width 90%
  .register-word
    textarea
      width 90% !important
      height 30px
      text-align center
      font-size 1.2em
  .register-button
    width 90% !important
    font-size 1.2em

@media screen and (max-width: 512px)
  #register-word
    margin-top 100px
    width 90%
  .register-word
    height 100%
    textarea
      width 90% !important
      height 30px
      text-align center
      font-size 1.2em
    table
      width 90%
    table, thead, tbody, th, td, tr
      display block
    thead
      tr
        position absolute
        top -9999px
        left -9999px
    tr
      border 1px solid #ccc
    tr:nth-child(even)
      background-color #ececec
    td
      position relative
      padding-left 50%
    td::before
      position absolute
      top 50% !important
      left 6px
      width 45%
      padding-right 10px
      white-space nowrap
      visibility visible !important
    td:nth-of-type(1)::before { content: "Palavra" }
    td:nth-of-type(2)::before { content: "Dica" }
    td:nth-of-type(3)::before { content: "Dificuldade" }
    td:nth-of-type(4)::before { content: "Data" }
    td:nth-of-type(5)::before { content: "Remover Palavra" }
  .register-button
    width 90% !important
    font-size 1.2em
</style>
